h1 {
  font-family: var(--font-secondaire);
  font-weight: 600;
  font-size: 96px;
}

h2 {
  color: var(--couleur-blanc);;
  font-family: var(--font-secondaire);
  font-weight: 600;
  font-size: 64px;
}